<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brookers</title>

    <!--JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!--Angular js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

    <!--App js-->
    <script src="js/app.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>

    <link href="css/style.css" rel="stylesheet">

    <!-- Exo black font -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:700,400,900' rel='stylesheet' type='text/css'>
    <!-- Open sans font-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
</head>

<body ng-app="brookers">

<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="collapsingNavbarButton">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img id="logo-top-menu" src="resources/images/Home/logo_top_menu.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" id="navbar-items">
                <li><a href="index.html">O nas</a></li>
                <li><a href="produkty.html">Produkty</a></li>
                <li><a href="regulamin.html">Regulamin</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="menu-slider" >
    <div class="container">
	<div class="row row-same-height" style="margin:auto;">
            <div class="col-lg-1 col-full-height">
                <div id="prev2" class="top-menu-arrow-prev"></div>
            </div>
            <div class="col-lg-12 col-full-height">

                    <div class="menu-widget">
                        <div><img src="resources/images/Home/slider_1_top_menu.png"></div>
						<div><img src="resources/images/Home/slider_2_top_menu.png"></div>
						<div><img src="resources/images/Home/slider_3_top_menu.png"></div>
                    </div>

            </div>
            <div class="col-lg-1 col-full-height">
                <div id="next2" class="top-menu-arrow-next"></div>
            </div>
       </div>
    </div>


</section>

<section id="main-slider" ng-controller="ProductsSliderCtrl as productSlider">
    <div id="contact-box" >
        <div style="float: left; margin-top:20px;  margin-left: 20px;">
            <span style="font-size: 27px; padding-bottom:2px;">Produkty<br></span>
            <span style="font-size: 15px; color: #204d74;">
                Znajdź to czego szukasz.
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row row-same-height" style="margin:auto;">
            <div class="col-lg-1 col-full-height">
                <div id="prev" class="top-menu-arrow-prev"></div>
            </div>
            <div class="col-lg-12 col-full-height">
                <div id="products-slider">
                    <div class="product-widget-big" ng-repeat="product in productSlider.products">
                        <img src="" ng-src="{{product.image}}" style="margin:0 auto;">

                        <p>{{product.name}}</p>

                        <div class="price-label-big">
                            <div class="price-amount-big">
                                {{product.price}}
                                <span class="price-amount-big-dimes">00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-full-height">
                <div id="next" class="top-menu-arrow-next"></div>
            </div>
        </div>
    </div>
</section>


<section ng-controller="ProductsPanelCtrl as offersCtrl" style="margin-top: 40px">
    <div class="container">
        <div class="row row-same-height">
            <div class="col-lg-1 col-full-height">
                <div class="arrow-prev" id="category-slider-arrow-prev" style="float:right;"></div>
            </div>
            <div class="col-lg-10 col-full-height">
                <div style="height: 39px; text-align:center; margin" id="category-slider">
                    <div class="category-class clickable tab-samsung" ng-click="offersCtrl.setTab(0)"></div>
                    <div class="category-class clickable tab-xperia" ng-click="offersCtrl.setTab(1)"></div>
                    <div class="category-class clickable tab-htc" ng-click="offersCtrl.setTab(2)"></div>
                    <div class="category-class clickable tab-apple" ng-click="offersCtrl.setTab(3)"></div>
                    <div class="category-class clickable tab-zte" ng-click="offersCtrl.setTab(4)"></div>
                    <div class="category-class clickable tab-blackberry" ng-click="offersCtrl.setTab(5)"></div>
                    <div class="category-class clickable tab-huawei" ng-click="offersCtrl.setTab(6)"></div>
                    <div class="category-class clickable tab-lenovo" ng-click="offersCtrl.setTab(7)"></div>
                    <div class="category-class clickable tab-lg" ng-click="offersCtrl.setTab(8)"></div>
                    <div class="category-class clickable tab-motorola" ng-click="offersCtrl.setTab(9)"></div>
                    <div class="category-class clickable tab-microsoft" ng-click="offersCtrl.setTab(10)"></div>
                    <div class="category-class clickable tab-nokia" ng-click="offersCtrl.setTab(11)"></div>
                    <div class="category-class clickable tab-sony" ng-click="offersCtrl.setTab(12)"></div>
                </div>
            </div>
            <div class="col-lg-1 col-full-height">
                <div class="arrow-next" id="category-slider-arrow-next" style="float:left;"></div>
            </div>
        </div>
        <div class="row row-same-height">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div style="border-top: 1px solid #adadad; text-align:center;">
                    <div ng-repeat="offer in offersCtrl.offers[offersCtrl.tab]" class="product-widget-small">
                        <div class="phone-image"><img src="" ng-src="{{offer.image}}"/></div>
                        <div class="phone-title">{{offer.name}}</div>
                        <div class="price-label-small">
                            <div style="display:table; width:100%; height:100%;">
                                <div class="price-amount-small">
                                    {{offer.price}}
                                    <span class="price-amount-small-dimes">00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <img src="resources/images/Home/footer_mail_icon.png"/>
            </div>
            <div class="col-lg-11">
                <div style="padding-left:30px">
                    <p style="font-size: 13px; color:#ABABB1"><b>Masz pytanie? Napisz do nas.</b></p>

                    <p style="font-size: 13px; color:#ABABB1">Zadaj pytanie, zgłoś sugestię, prześlij komentarz
                        wysyłając e-maila na adres brokers.communication@gmail.com lub przez formularz kontaktowy.
                    </p>

                    <p style="font-size: 15px; color:#ABABB1; text-align:right; padding-right:6vw">-ekipa Brokers
                        Communication</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="padding-left:45px">
                <p style="font-size: 25px; color:#FFFFFF">Newsletter</p>

                <p style="font-size: 14px; color:#ABABB1">Aby dowiedzieć się o wszystkich naszych promocjach już dziś
                    zapisz<br>
                    się na newsletter, a na pocztę otrzymasz pełen zestaw informacji</p>

                <form id="newsletter-form">
                    <div class="row">
                        <div class="col-lg-5">
                            <div style="width:400px">
                                <input name="topic" placeholder="wprowadź swój mail" style="width:230px;">

                                <input id="newsletter-submit" name="submit" type="submit" value="Subskrybuj"
                                       style="margin-left:20px;">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-6" style="padding-left:45px">
                <p style="font-size: 25px; color:#FFFFFF">Formularz kontaktowy</p>

                <form id="contact-form">
                    <div class="row">
                        <div class="col-lg-5">
                            <input name="topic" placeholder="wprowadź temat zapytania">
                            <input name="name" placeholder="wprowadź swoje imię">
                            <input name="surname" placeholder="wprowadź swoje nazwisko">
                        </div>
                        <div class="col-lg-6">
                            <textarea name="message" placeholder="wprowadź tekst zapytania"></textarea>
                        </div>
                    </div>
                    <div id="contact-form-submit" style="text-align:right; padding-right:22px;">
                        <input id="contact-submit" name="submit" type="submit" value="Potwierdź">
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: -40px;">
            <div class="col-lg-2">
                <a href="http://allegro.pl/my_page.php?uid=39944475" target="_blank">
                    <img src="resources/images/Home/footer_allegro_icon.png"/>
                </a>
                <a href="http://www.facebook.com/brokerscommunication" target="_blank">
                    <img src="resources/images/Home/footer_facebook_icon.png"/>
                </a>
            </div>
            <div class="col-lg-8">
                <p style="font-size: 14px; color:#ABABB1; text-align: center; padding-top:13px">Design by Paweł Gorzelec
                    &copy 2015 gzknbd@gmail.com (+48)739 299 923 </p>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<!--Skrypt SMOOTH SCROLL-->
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

<!--Skrypt SLICK SLIDER-->
<script>
    $(document).ready(function () {
        $('#products-slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 5000,
            speed: 900,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: $('#prev'),
            nextArrow: $('#next'),
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
		
		$('.menu-widget').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 700,
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: $('#prev2'),
            nextArrow: $('#next2'),
            responsive:[
                {
                    breakpoint: 1200,
                    settings:{
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 990,
                    settings:{
                        slidesToShow: 1
                    }
                }
            ]
        });

        $('#category-slider').slick({
            infinite: false,
            autoplay: false,
            speed: 700,
            slidesToShow: 8,
            slidesToScroll: 4,
            prevArrow: $('#category-slider-arrow-prev'),
            nextArrow: $('#category-slider-arrow-next'),
        });
    });

</script>
<!--Skrypt navbar-collapse fix-->
<script>
    $(function(){
        $(document).on('click',function(){
            $('.navbar-collapse.in').collapse('hide');
        });
        $(".navbar-nav li a").click(function(event) {
            $(".navbar-collapse").collapse('hide');
        });
        $('#collapsingNavbarButton').click(function(){
            $('.navbar-collapse').collapse('toggle');
        });
    });
</script>
</body>
</html>