@font-face {
    font-family: 'ProximaNova'; /*a name to be used later*/
    src: url('../fonts/ProximaNova-Reg.otf'); /*URL to font*/
}@font-face {
    font-family: 'ProximaNovaBold'; /*a name to be used later*/
    src: url('../fonts/ProximaNova-Bold.otf'); /*URL to font*/
}@font-face {
     font-family: 'ProximaNovaThin'; /*a name to be used later*/
     src: url('../fonts/ProximaNova-Thin.otf'); /*URL to font*/
}

#logo-top{
    height: 40px;
    margin-top: -7px;
    padding: 0 2vw;
}
#navbar-items{
    font-family: ProximaNova;
    font-size: 16px;
}
#login-btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  background: transparent;
  border-radius: 8px;
  color: #42b8dd;
  font-family: ProximaNova;
  font-size: 16px;
  margin-top: 4px;
  margin-right: 3vw;
  padding: 8px 25px 8px 25px;
  border: solid #42b8dd 2px;
}
#login-btn:hover {
  background: #333;
}
#jumbotron{
    padding:0px;
    width:100%;
}
.jumbotron-item{
    width:100%;
}
#about-us{
    background: #42b8dd;
    padding: 35px 0;
    color: #fff;
}
#who-we-are-title{
    font-family: ProximaNovaBold;
    font-size: 72px;
    line-height: 60px;
}
.about-us-icon{
    padding-left:10px;
    display: block;
    width: 100px;
}
.about-us-text-container{
    min-height: 120px;
    padding-left: 25px;
}
.about-us-header{
    font-family: ProximaNovaBold;
    font-size: 16px;
    min-width: 240px;
}
.about-us-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
}
@media (max-width: 767px){
    #about-us{
        padding-bottom:5px;
    }
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
    .about-us-icon{
        padding-left:0;
        margin: auto;
    }
    .about-us-text-container{
        min-height: 120px;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    .about-us-header{
        min-width: 0;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #about-us{
        padding-bottom:5px;
    }
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
    .about-us-icon{
        padding-left:0;
    }
    .about-us-text-container{
        min-height:185px;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    .about-us-header{
        min-width: 0;
    }
}
#about-us-bottom{
    color: #42b8dd;
    font-family: ProximaNovaBold;
}
#about-us-bottom-icon{
    display: block;
    margin-left:-30px;
}
#about-us-bottom-text{
    margin-left: -70px;
    min-width: 1030px;
    font-size: 55px;
    padding:37px 0;
}
@media (max-width: 768px){
    #about-us-bottom-icon{
        display: none;
    }
    #about-us-bottom-text{
        text-align: center;
        margin-left: 0;
        line-height: 20px;
        min-width: 0;
        font-size: 20px;
        padding: 10px 0;
    }
}
@media (min-width: 768px) and (max-width:992px){
    #about-us-bottom-icon{
        display: block;
        width: 75px;
        margin: auto;
    }
    #about-us-bottom-text{
        text-align: left;
        margin-left: -40px;
        min-width: 0;
        font-size: 34px;
        padding: 13px 0;
    }
}
@media (min-width: 992px) and (max-width:1200px){
    #about-us-bottom-icon{
        display: block;
        width: 100px;
        margin: auto;
    }
    #about-us-bottom-text{
        text-align: left;
        margin-left: -45px;
        min-width: 0;
        line-height: 40px;
        font-size: 44px;
        padding: 30px 0;
    }
}
#offer{
    background: #ebebeb;
    padding-top:35px;
    padding-bottom:25px;
}
#what-we-offer-title{
    font-family: ProximaNovaBold;
    color: #363636;
    font-size: 72px;
    line-height: 60px;
}
.offer-label{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    display: inline-block;
    background: transparent;
    border-radius: 8px;
    color: #42b8dd;
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    width: 90px;
    height: 35px;
    border: solid #42b8dd 2px;
}
.small-offer-widget{
    display:block;
    background: #fff;
    width: 370px;
    height: 370px;
    margin: 30px auto;
}
.offer-picture{
    width: 100%;
}
#big-offer-widget{
    display: block;
    background: #fff;
    width: 370px;
    height: 770px;
    margin: 30px auto;
}
#big-offer-widget-gray-box{
    display: block;
    background: #ccc;
    height: 675px;
}
.offer-header{
    font-family: ProximaNovaBold;
    font-size: 18px;
    text-align: center;
    color: #42b8dd;
    margin-top: 10px;
}
.offer-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
    text-align: center;
    color: #898989;
    padding: 0 20px;
}
.big-offer-header{
    font-family: ProximaNova;
    font-size: 21px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0 20px;
}
.big-offer-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
    color: #000;
    padding: 0 20px;
}
.spacer{
    display: block;
    height: 10px;
}
#offer-plus-icon{
    width: 370px;
    margin-right: auto;
}
@media (max-width: 490px){
    #what-we-offer-title{
        padding-bottom: 30px;
        font-size: 42px;
        line-height: 46px;
    }
    .small-offer-widget,
    #big-offer-widget{
        max-width: 100%;
        margin: 30px auto;
    }
    #big-offer-widget-gray-box{
        height: 696px;
    }
    .big-offer-header{
        margin-top: 0;
    }
    .big-offer-content{
        margin-bottom: 5px;
    }
    .spacer{
        height: 5px;
    }
}
@media (max-width: 767px){
    .small-offer-widget{
        margin-bottom: 0;
    }
    #offer-plus-icon{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .small-offer-widget{
        max-width: 100%;
    }
    #big-offer-widget{
        margin-top: 0;
    }
}
@media (max-width: 992px){
    #offer-plus-icon{
        margin-left: auto;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #big-offer-widget{
        max-width: 100%;
        margin: 30px auto;
    }
    #big-offer-widget-gray-box{
        height: 696px;
    }
    .big-offer-header{
        margin-top: 0;
    }
    .big-offer-content{
        margin-bottom: 5px;
    }
    .spacer{
        height: 5px;
    }
}
#references{
    background: #666666;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: ProximaNovaThin;
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.reference-widget{
    display: table !important;
    min-height: 200px;
}
.reference-widget-content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.slick-dots{
    padding: 0 !important;
}
.slick-dots li{
    display: inline;
}
.slick-dots li button{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0 2px;
    font-size: 0;
    line-height: 0;
}
.slick-dots .slick-active button{
    background: #fff;
}
@media (max-width: 767px){
    #references{
        font-size: 20px;
    }
}
#team{
    padding: 50px 0;
    background: #fff;
}
#our-team-title{
    font-family: ProximaNovaBold;
    color: #363636;
    font-size: 72px;
    line-height: 60px;
    padding-bottom: 35px;
}
.team-icon{
    padding-left: 15px;
}
.team-description{
    padding-left: 100px;
}
.team-description-name{
    font-family: ProximaNovaBold;
    font-size: 18px;
    color: #42b8dd;
}
.team-description-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
}
@media (max-width: 420px){
    #our-team-title{
        font-size: 52px;
        line-height: 46px;
    }
}
@media (max-width: 992px){
    .team-description{
        padding-left:50px;
    }
}
#info{
    background: #666666;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}
.info-big{
    font-family: ProximaNovaThin;
    font-size: 72px;
    line-height: 70px;
}
.info-small{
    font-family: ProximaNovaBold;
    font-size: 18px;
    padding-bottom: 20px;
}
@media (max-width: 400px){
    .info-big{
        font-size: 58px;
        line-height: 60px;
    }
    .info-small{
        font-size: 15px;
    }
}
#gallery{
    padding-top: 50px;
    padding-bottom: 25px;
}
#our-gallery-title{
    font-family: ProximaNovaBold;
    color: #363636;
    font-size: 72px;
    line-height: 60px;
    padding-bottom: 35px;
}
#gallery-label{
    border: 1px solid #ebebeb;
    border-radius: 7px;
    width: 300px;
    height: 50px;
    font-family: ProximaNovaBold;
    font-size: 14px;
    color: #42b8dd;
    margin-left: -30px;
}
#gallery-label-icon{
    display: inline-block;
    padding: 13px 5px;
}
#gallery-label-text{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width:260px;
}
#gallery-description-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
}
.gallery-thumbnail-container{
}
.gallery-thumbnail{
   width: 215px;
   height: 140px;
   margin: 0 auto;
   margin-bottom: 20px;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   text-align: center;
}
.gallery-picture-hover .mask {
   width: 215px;
   height: 140px;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   overflow:visible;
   border:70px solid rgba(0,0,0,0.5);
   box-sizing:border-box;
   transition: opacity 0.2s ease-in-out;
}
.gallery-picture-hover .info {
   /*TODO podmieni? grafik? lupy*/
   background:url(../resources/icon_zoom_galeria.png) center no-repeat;
   display: inline-block;
   width:50px;
   height:50px;
   position:relative;
   top:-25px;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}
.gallery-picture-hover:hover .mask {
   opacity: 1;
}
.gallery-picture-hover:hover .info {
   opacity:1;
   transition-delay: 0.1s;
}
@media (max-width: 370px){
    #our-gallery-title {
        font-size: 52px;
        line-height: 46px;
    }
}
@media (max-width: 991px){
        #gallery-label{
            width: 300px;
            margin-left: -5px;
        }
        #gallery-label-text{
            width: 260px;
        }
        #gallery-description-content{
            margin-top: -5px;
            margin-bottom: 30px;
        }
}
@media (min-width: 992px) and (max-width: 1200px){
    #gallery-label{
        width: 220px;
        margin-left: -10px;
    }
    #gallery-label-text{
        width: 170px;
    }
}
.clickable{
    cursor: pointer;
}
.pop-up-gallery{
     background-color: rgba(0,0,0,0.3);
     top:0; left:0;
     height:100vh;
     width:100vw;
     padding: 0;
     position: fixed;
     text-align:center;
}
.center-image-container{
    display:table;
    width:100vw;
    height:100vh;
}
.center-image{
    display:table-cell;
    vertical-align:middle;
}
#gallery-prev-arrow{
    display: inline-block;
    cursor: pointer;
}
#gallery-next-arrow{
    display: inline-block;
    float: right;
    cursor: pointer;
}
#blue-bar{
    width: 100%;
    padding: 5px 0;
    background: #42b8dd;
    font-family: ProximaNovaBold;
    font-size: 57px;
    color: #fff;
    text-align: center;
}
#grey-bar{
    width: 100%;
    padding: 10px 0;
    background: #7f7f7f;
    font-family: ProximaNovaBold;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.grey-bar-text{
    padding-top: 35px;
    padding-left: 15px;
}
@media (max-width: 554px){
    #blue-bar{
        font-size: 17px;
    }
    #blue-bar img{
        display: none;
    }
    #grey-bar{
        font-size: 16px;
    }
    #grey-bar img{
        width: 20px;
        height: auto;
    }
    .grey-bar-text{
        padding-top: 5px;
        padding-left: 0px;
    }
    #grey-bar .col-xs-1,
    #grey-bar .col-xs-3{
        padding-left: 5px;
    }
    .grey-bar-xs-fix{
        margin-left: -10px;
    }
}
@media (min-width: 550px) and (max-width: 767px){
    #blue-bar{
        font-size: 26px;
    }
    #blue-bar img{
        width: 65px;
        height: auto;
    }
    #grey-bar{
        font-size: 20px;
    }
    #grey-bar img{
        width: 40px;
        height: auto;
    }
    .grey-bar-text{
        padding-top: 16px;
        padding-left: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #blue-bar{
        font-size: 35px;
    }
    #grey-bar{
        font-size: 28px;
    }
    .grey-bar-text{
        padding-left: 20px;
    }
}@media (min-width: 992px) and (max-width: 1199px){
     #blue-bar{
         font-size: 47px;
     }
     #grey-bar{
         font-size: 30px;
     }
 }
#contact-section {
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #ebebeb ;
}
#contact-section-title{
    font-family: ProximaNovaBold;
    color: #363636;
    font-size: 72px;
    line-height: 60px;
    padding-bottom: 35px;
}
@media (max-width: 600px){
    #contact-section-title{
        font-size: 40px;
        line-height: 46px;
    }
}
#contact-info{
    font-family: ProximaNova;
    color: #888888;
    font-size: 16px;

}
.contact-input {
    font-family: ProximaNovaBold;
    font-size: 16px;
    width: 100%;
    height: 5vh;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    padding-left: 10px;
    background-color: #ebebeb;
    color: #0f0f0f;
    margin-top: 10px;
}
#contact-submit-button{
    width: 100%;
    background-color: #FFFFFF;
    border-width: 0px;
    border-radius: 6px;
    height: 6vh;
    color: #42b8dd;
    font-family: ProximaNova;
    margin-top: 25%;

}
#contact-submit-button:focus{
    outline: 0;
}
.contact-input:focus {
    border-color: #42b8dd;
}
#contact-submit-button:hover {
    background-color: #888888;
}

@media (max-width: 700px) {
    .contact-input {
        font-size: 12px;
    }
    #contact-submit-button {
        margin-top: 3%;
    }
}
@media (max-width: 500px) {
    .contact-input {
        font-size: 9px;
        border-width: 1px;
    }

}
