@font-face {
    font-family: 'ProximaNova'; /*a name to be used later*/
    src: url('../fonts/ProximaNova-Reg.otf'); /*URL to font*/
}
@font-face {
    font-family: 'ProximaNovaBold'; /*a name to be used later*/
    src: url('../fonts/ProximaNova-Bold.otf'); /*URL to font*/
}@font-face {
     font-family: 'ProximaNovaThin'; /*a name to be used later*/
     src: url('../fonts/ProximaNova-Thin.otf'); /*URL to font*/
 }

#logo-top{
    height: 40px;
    margin-top: -7px;
    padding: 0 2vw;
}
#navbar-items{
    font-family: ProximaNova;
    font-size: 16px;
}
#login-btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  background: #000;
  border-radius: 8px;
  color: #42b8dd;
  font-family: ProximaNova;
  font-size: 16px;
  margin-top: 4px;
  margin-right: 3vw;
  padding: 8px 25px 8px 25px;
  border: solid #42b8dd 2px;
}
#login-btn:hover {
  background: #333;
}
#jumbotron{
    padding:0px;
    width:100%;
}
.jumbotron-item{
    width:100%;
}
#about-us{
    background: #42b8dd;
    padding: 35px 0;
    color: #fff;
}
#who-we-are-title{
    font-family: ProximaNovaBold;
    font-size: 72px;
    line-height: 60px;
}
.about-us-icon{
    padding-left:10px;
}
.about-us-text-container{
    min-height: 120px;
    padding-left: 25px;
}
.about-us-header{
    font-family: ProximaNovaBold;
    font-size: 16px;
    min-width: 250px;
}
.about-us-content{
    font-family: ProximaNovaThin;
    font-size: 14px;
}
@media (max-width: 768px){
    #about-us{
        padding-bottom:5px;
    }
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
    .about-us-icon{
        padding-left:0;
    }
    .about-us-text-container{
        min-height: 120px;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    .about-us-header{
        min-width: 0;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #about-us{
        padding-bottom:5px;
    }
    #who-we-are-title{
        padding-bottom: 30px;
        font-size: 52px;
        line-height: 46px;
    }
    .about-us-icon{
        padding-left:0;
    }
    .about-us-text-container{
        min-height:185px;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    .about-us-header{
        min-width: 0;
    }
}