<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paweł Gorzelec - portfolio</title>

    <!--JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!--Angular js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>


    <!--App js-->
    <script src="js/app.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="resources/page-icon.png"/>

    <!-- Exo black font -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:700,400,900' rel='stylesheet' type='text/css'>
    <!-- Open sans font-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
</head>
<body ng-app="portfolio">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">

    </div>
    <div style="left:33%; position: absolute;">
        <ul class="nav navbar-nav center-block">
            <li><a href="#section1">Home</a></li>
            <li><a href="#startsection">Start</a></li>
            <li><a href="#section3">O mnie</a></li>
            <li><a href="#section2">Realizacja</a></li>
            <li><a href="#section5">Referencje</a></li>
            <li><a href="#section6">Umiejętności</a></li>
            <li><a href="#section4">Praca</a></li>
            <li><a href="#section7">Kontakt</a></li>
        </ul>
    </div>
    </div>
</nav>

<section id="section1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img id="lion" src="resources/main_lion.png">
            </div>
        </div>
    </div>
</section>

<section id="startsection">
    <div class="container">
        <div class="col-lg-12 text-center">

            <h1 id="header">START</h1>

            <p>

            <p><img src="./resources/dots_black.png"></p></p>
            <p>W niniejszej oprawie graficznej chciałem zaprezentować mój dorobek graficzny jeśli rzecz idzie o projekty
                i realizacje w jakich dane było mi wziąć udział.</p>

            <p>Wszystkie one zostały podzielone na sekcje w celu optymalnej prezentacji i wglądu przez wszystkich
                zainteresowanych współpracą ze mną.</p>
        </div>
        <div class="col-sm-3 padding text-center">
            <p><img src="./resources/home_button_1.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">
                GRAFIKA REKLAMOWA
            </h1>

            <p class="startsectionparagraph">Cały zakres prac występujących
                w użytku publicznym, od drobnych projektów po identyfikacje marek.</p>
        </div>
        <div class="col-sm-3 padding text-center">
            <p><img src="./resources/home_button_2.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">GRAFIKA UŻYTKOWA</h1>

            <p class="startsectionparagraph">Obejmuje plakat, ilustracje, druki okolicznościowe, magazyny, gazety,
                znaczki pocztowe, banknoty, ekslibrisy i liternictwo.</p>
        </div>
        <div class="col-sm-3  padding text-center">
            <p><img src="./resources/home_button_3.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">DTP</h1>

            <p class="startsectionparagraph">Zestaw poligrafii stworzonych dla klientów indywidualnych. Wszelkiego
                rodzaju składane magazyny, książki znaków broszury reklamowe i inne.</p>
        </div>
        <div class="col-sm-3  padding text-center">
            <p><img src="./resources/home_button_4.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">SOCIAL MEDIA BRANDING</h1>

            <p class="startsectionparagraph">Opiewa o budowanie marki w sieci, tworzenie FanPage’y na
                Facebook’u.Wszystkie prace zwziązane z promowaniem marki w sieci Internet.</p>
        </div>
        <div class="col-lg-3 col-sm-offset-3  padding text-center">
            <p><img src="./resources/home_button_5.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">STRONY WWW</h1>

            <p class="startsectionparagraph">Realizacje stron WWW opartych o HTML, CSS, Wordpress i inne. </p>
        </div>
        <div class="col-sm-3  padding text-center">
            <p><img src="./resources/home_button_6.png" height="60px" width="60px"></p>

            <h1 class="startsectionheader">WIZUALIZACJE FIRMOWE</h1>

            <p class="startsectionparagraph">Wszystko co zwiazane z identyfikacją marki na rynku: logotypy, książki
                znaku, brandbooki i inne. </p>
        </div>


    </div>
</section>


<!---  by Tomek -->
<section id="section3">
    <div class="container top-padding">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="header white_font">O MNIE</h1>

                <p class="omnie_padding"><img src="resources/omnie_face.png"/></p>

                <p class="omnie_padding"><img src="resources/dots_white.png"/></p>

                <p class="p_margin open_sans_normal">Jestem studentem ostatniego roku Wyższej Szkoły Informatyki i
                    Zarzadzania
                    z siedzibą w Rzeszowie na kierunku Informatyka. Specjalizuję się w grafice komputerowej</p>

                <p class="p_margin open_sans_normal">rastrowej, wektorowej oras designie i brandingu. Grafiką zajmuę się
                    od 10
                    lat, działając w kręgu grafiki reklamowej advertisemencie, reaklamy wizualnej. Płynnie posługuję
                    się</p>

                <p>programami do obróbki form graficznych 2D oraz publikowania do druku (Adobe: Photoshop, Lightroom,
                    Illustrator, InDesign; CorelDraw)</p>
                <br/>

                <p class="p_margin open_sans_normal">Lubię pracę z klientem i konstruktywną analizę opracowanych
                    projektów.
                    Doświadczenia w tej materii nabyłem u boku specjalistów w wielu agencjach reklamowych z</p>

                <p class="p_margin open_sans_normal">którymi dane było mi wspópracować. Jestem kreatywny i opanowany.
                    Szybko
                    się uczę. Cechuje mnie wytrwałość i systematyczność w realizowaniu powierzonych mi zadań.</p>

                <p>Bardzo angażuję się w wypełnianie swoich obowiązków, ponieważ lubię, kiedy coś jest dobrze zrobione
                    od
                    początku do końca.</p>

                <p><img src="resources/dots_white.png"/></p>

                <p id="signature">PAWEŁ GORZELEC</p>

            </div>
        </div>
    </div>
</section>
<!--   by Tomek -->
<!--Realizacja -->
<section id="section2">
    <div class="container" ng-controller="CarouselCtrl">
        <div class="row">
            <!--TODO: pozycjonowanie -->
            <div style="width: 654px; margin: auto auto 20px;height: 37px;" class="clickable">
                <div style="float: left" ng-click="setCategory(0)">
                    <img src="resources/realization/realization_menu_1.png"/>
                </div>
                <div style="float: left" ng-click="setCategory(1)">
                    <img src="resources/realization/realization_menu_2.png"/>
                </div>
                <div style="float: left" ng-click="setCategory(2)">
                    <img src="resources/realization/realization_menu_3.png"/>
                </div>
                <div style="float: left" ng-click="setCategory(3)">
                    <img src="resources/realization/realization_menu_4.png"/>
                </div>
            </div>

        </div>


        <div class="row">
            <!--TODO: ustawic css -->
            <div class="realizations">
                <carousel interval="myInterval" style="height: 800px">
                    <slide ng-repeat="slide in slides[currentCategory]" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </slide>
                </carousel>
            </div>

        </div>

    </div>
</section>

<!-- Sekcja Kuby -->
<section id="section5">
    <div class="container top-padding">
        <div class="row">
            <div class="col-lg-12 text-center" ng-controller="ReferenceCtrl">
                <!--<a href="#section5"><img id="arrowdown" src="./resources/arrowdown.png" height="70px" width="70px"></a>-->
                <h1 class="header white_font">Referencje</h1>
                <img src="resources/dots_white.png">
                <carousel interval="myInterval" style="height: 800px">
                    <slide ng-repeat="reference in references" active="reference.active">
                        <p class="p_margin open_sans_light size24">{{references[0].body}}</p>

                        <p class="p_margin open_sans_light size14">{{references[0].signature}}</p>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</section>

<!-- END -->

<section id="section6">
    <div class="container top-padding">
        <div class="row" ng-controller="SkillController">
            <div class="col-lg-12 text-center">

                <!--<a href=""><img src="resources/arrowdown.png" height="80px" width="80px"></a>-->
                <h1 class="header">Umiejętności</h1>

                <p><img src="resources/dots_black.png" class="img-responsive margin_auto"></p>

                <p style="padding-top: 2vh" class="open_sans_light">Zakładka ta w łatwy, infograficzny sposób
                    przedstawia
                    moje zaangażowanie w niektóre zakresy grafiki, w których działam. Znajdują sie tu również
                    umiętności.</p>

                <p class="open_sans_light">interpersonalne, które prezentowane są w adekwatny sposób</p>

                <div class="row" style="margin-top: 20vh">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2 clickable" ng-click="setSkillCategory(0)">
                        <img src="resources/umiejetnosci_button_1.png" class="img-responsive margin_auto">

                        <h2 class="text-center">PROJEKTOWANIE GRAFICZNE</h2>
                    </div>
                    <div class="col-md-2 clickable" ng-click="setSkillCategory(1)">
                        <img src="resources/umiejetnosci_button_2.png" class="img-responsive margin_auto">

                        <h2 class="text-center">JĘZYKI</h2>
                    </div>
                    <div class="col-md-2">
                        <img src="resources/umiejetnosci_button_3.png" class="img-responsive margin_auto">

                        <h2 class="text-center">MARKETING</h2>
                    </div>
                    <div class="col-md-2">
                        <img src="resources/umiejetnosci_button_4.png" class="img-responsive margin_auto">

                        <h2 class="text-center">KOMUNIKATYWNOŚĆ</h2>
                    </div>
                    <div class="col-md-2">
                        <img src="resources/umiejetnosci_button_5.png" class="img-responsive margin_auto">

                        <h2 class="text-center">BRANDING</h2>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>

                <div ng-show="skillCategory == 0">
                    <p style="margin-top: 5vh"><img src="resources/umiejetnosci_button_2_1.png"
                                                    class="img-responsive margin_auto"></p>

                    <p style="margin-top: 5vh"><img src="resources/umiejetnosci_button_2_2.png"
                                                    class="img-responsive margin_auto"></p>

                    <p style="margin-top: 5vh"><img src="resources/umiejetnosci_button_2_3.png"
                                                    class="img-responsive margin_auto"></p>
                </div>
                <div ng-show="skillCategory == 1">
                    <p style="margin-top: 5vh"><img src="resources/angielski.png"
                                                    class="img-responsive margin_auto"></p>

                    <p style="margin-top: 5vh"><img src="resources/niemiecki.png"
                                                    class="img-responsive margin_auto"></p>

                    <p style="margin-top: 5vh"><img src="resources/wloski.png"
                                                    class="img-responsive margin_auto"></p>
                </div>
                <!--<a  href=""><img src="resources/arrowdown.png" style="margin-bottom: 0 auto"></a> -->

            </div>
        </div>
    </div>
</section>


<!--Sekcja Kuby -->
<section id="section4">
    <div class="container top-padding">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--<a href="#section5"><img id="arrowdown" src="./resources/arrowdown.png" height="70px" width="70px"></a>-->
                <h1 class="header white_font">Praca</h1>
                <img src="resources/dots_white.png">

                <p class="p_margin open_sans_light size14">Niniejsza zakładka prezentuje doświadczenie zawodowe
                    wygenerowane na przestrzeni mojej działalności graficznej oraz reklamowej. Na jej liście znajdują
                    się
                    agencje reklamowe, agencje brandingowe, praktyki zawodowe realizowane przez pryzmat placówek
                    edukacyjnych do których uczęszczałem oraz prace sezonowe czy też inne pomniejsze współprace
                    zleceniowe.</p>

                <p style="margin-top: 5vh"><img src="resources/praca_timeline_without_text.png"
                                                class="img-responsive margin_auto"></p>
            </div>
        </div>
    </div>
</section>
<!-- END -->


<section id="section7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <!--<a href="#section6"><img src="./resources/arrowup.png" height="70px" width="70px"></a>-->
                <h1 class="header" id="tmail">Kontakt</h1>

                <p class="number">+48 884 885 464</p>

                <p>

                <div class="border padding" id="tmail">GZKNBD@GMAIL.COM</div>
                </p>
                <p style="font-size:25px; font-family:'Open Sans', sans-serif;">Hermanowa 157, 36-020 Tyczyn, Polska</p>
                <!--<hr/>
                <form role="form" class="padding2">
                    <div class="form-group ">
                        <input type="email" class="form-control text-center formcontroling" id="name"
                               placeholder="Imie Nazwisko">
                    </div>
                    <div class="form-group ">
                        <input type="email" class="form-control text-center formcontroling" id="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control text-center formcontroling" id="number"
                               placeholder="Numer Kontaktowy">
                    </div>
                    <div class="form-group" id="textarea1">
                        <textarea class="form-control formcontroling" style="resize:none;height:10vh" name="message"
                                  placeholder="Rozpocznij wprowadzanie tekstu wiadomości tutaj..."></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="button">Wyślij</button>
                    </div>
                </form> -->
                <p id="footer"> &copy Copyright 2015 The PawełGorzelec, All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--Skrypt SMOOTH SCROLL-->
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
</body>
</html>