@font-face {
    font-family: 'Museo Sans';
    src: url("../fonts/MuseoSans/MuseoSans.otf");
}

section{
    height: 1180px;
}
.greenbar{
    pull:top;
    position:absolute;
    height:30px;
    width:100%;
    background-color: #54AE32;
    color:white;
    text-align:center;
    top:0;
}

.paddinggreenbar{
    padding-top:5px;
    margin-left:30px;
    right:200px;
}
.bannerbar{
    height:205px;
}
#logo{
    position:absolute;
    padding-top: 33px;
    z-index: 3;
}
.border{
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
}
.jumbotron{
    padding:0px;
    width:100%;
    margin-bottom:1px;
    margin-top:1px;

}
.jumbotron-item{
    width:100px;
}
.navstyle{
    height:70px;
}
#navbar{
    width:100%;
    height:70px;
    position: absolute;
    background-color: rgb(255,255,255);
    z-index: 2;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
#navbar-content{
    float:left;
    margin-left:15vw;
    padding-left:300px;
}
.nav>li>a {
    color:black;
    position: relative;
    display: initial;
    top: 23px;
    padding: 23px 10px 23px 10px;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    font-family: 'PT Sans';
    font-size: 16px;
}
.nav>li>a:hover{
    border-top: 2px solid #696969;
    border-bottom: 2px solid #696969;
    background-color: rgba(209, 209, 209, 0.22);
    color:#8FC12C;


}
nav li a:hover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #d8d8d8 10px;
    content: "";
    height: 0;
    top:0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
#section1{
    background-color: #F7F8FA;
    border-top:5px solid #DADADA;
    border-bottom:2px solid #E6E6E6;
    height: 550px;
}
#section1-top-border{
    width:100px;
    height:12px;
    margin:-4px auto 0 auto;
    background-image: url("../resources/images/line_home.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#section2{
    background-color: #FAFAFA;
    border-bottom:2px solid #E6E6E6;
	height: 600px;
	text-align: center;
	padding: 30px;
}
#section3{
    position: relative;
	background-color: #F7F8FA;
    border-bottom:2px solid #E6E6E6;
	height: 550px;
	padding:30px;
}
#section4{
    position: relative;
	background-color: #FAFAFA;
    border-bottom:2px solid #E6E6E6;
	height: 450px;
	text-align: center;
	padding-top:30px;
}
#section5{
    position: relative;
    background-color: #F7F8FA;
    border-bottom:2px solid #E6E6E6;
	height: 350px;
	text-align: center;
	padding: 30px;
}
#section-contact{
    position: relative;
    height: 400px;
    background-color: #f0f0f0;
}
#sabina{
    padding-top:100px;
}
.description,
.description-name{
    padding-left:10px;
    font-family: 'PT sans';
    font-size: 14px;
}
.description{
    color:#767676;
    line-height:22px;
}
.description-name{
    color:#2A2B2D;
}

#team_icon_2{
    padding-top:70px;
}
#team_icon_3{
    padding-left:5px;
    padding-top:100px;
}

.arrow-prev{
    background: url(../resources/images/button_oferta_back.png) no-repeat;
    width: 22px;
    height: 22px;
    border: 0;
    margin: 5px 3px;
}
.arrow-next{
    background: url(../resources/images/button_oferta_front.png) no-repeat;
    width: 22px;
    height: 22px;
    border: 0;
    margin: 5px 3px;
}
.gallery-slider{
    padding-top: 30px;
    position: relative;
}
.gallery-green{
    position:absolute;
    top:30px;
    left: 35px;
    width: 125px;
    height: 25px;
    background-color:rgba(0,150,0,0.7);
}
.gallery-icon{
    position: absolute;
    top:6px;
    left:10px;
}
.gallery-date{
    position: absolute;
    top:5px;
    left:25px;
    font-size:10px;
    color: white;
    font-family: 'Museo Sans';
    font-size: 12px;
}

.offerWidget{
    display: inline-block;
    text-align: center;
}

.offerTextBox{
    background-color: white;
    width: 274px;
    height: 170px;
    text-align:left;
    padding:1em;
    border-bottom:2px solid #cccccc;
}

.offerText{
    font-family: 'PT sans';
    font-size: 14px;
    white-space: pre-line;
}
#green_section{
    height: 66px;
    background-color: #4eb423;
    margin: 0px;
}
.fb-link:link{
    color:white;
    text-decoration: none;
}
.fb-link:hover{
    color:white;
    text-decoration: none;
}
.fb-link:visited{
    color:white;
    text-decoration: none;
}

#contact-section{
    height: 340px;
    font-family: 'Museo Sans';
    font-size: 14px;
}
#newsletter-form input{
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #DFDFE1;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    font-family: 'PT sans';
    font-size: 16px;
}
#newsletter-form input:focus{
    outline-width: 2px;
    outline-color: rgba(78,180,36,0.5);
    outline-style: solid;
}
#newsletter-form #newsletter-submit{
    float: right;
    background: #4EB424;
    border: 0;
    border-bottom: 2px solid #3F881F;
    width: 140px;
    height: 40px;
    padding: 10px 20px;
    font-family: 'PT sans';
    font-size: 16px;
    color: #FFFFFF;
}
#newsletter-form #newsletter-submit:focus{
    outline-width: 2px;
    outline-color: rgba(78,180,36,0.5);
    outline-style: solid;
}
#newsletter-form input:disabled{
    opacity: 0.7;
}
footer{
    height: 50px;
    background-color: #2a2b2c;
}
.PT_SANS{
    font-family: 'PT Sans', sans-serif;
}
.margin-bottom{
    margin-bottom: auto;
}
#popup_galery{
    margin-top: -40px;
    width: 100vw;
    position: fixed;
    height: 70vh;
    top: 20vh;
    padding: 0;
}
.clickable{
    cursor: pointer;
}
.pop-up-gallery{
     background-color: rgba(0,0,0,0.3);
     top:0; left:0;
     height:100vh;
     width:100vw;
     padding: 0;
     position: fixed;
     text-align:center;
}
.center-image-container{
    margin-top:-45px;
    display:table;
    width:100%;
    height:100%;
}
.center-image{
    display:table-cell;
    vertical-align:middle;
}
#kreator-stylu-description p{
    line-height:25px;
    color:#5C5E5D;
    font-size:14px;
}