section{
    height: 1180px;
}
.greenbar{
    pull:top;
    position:absolute;
    height:30px;
    width:100%;
    background-color: #3dc821;
    color:white;
    text-align:center;
    top:0;
}
.paddinggreenbar
{
    padding-top:5px;
    margin-left:30px;
    right:200px;
}
.bannerbar
{
    height:22vh;

}
#logo
{
    position:absolute;
    top:-165px;
}
.border
{
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
}
.jumbotron{
    padding:0px;
    background-color:darkgrey;
    background-image: url('../resources/images/up_slider.png');
    background-size:cover;
    width:100%;
    margin-bottom:1px;
    margin-top:1px;

}
.navbar
{
    width:100%;
    margin-bottom: 0px;
}
.nav>li>a {
    color:black;
    top:15px;
    position: relative;
    display: initial;
    padding: 26px 16px;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    font-size: 26px;
}
.nav>li>a:hover{
    border-top: 2px solid #696969;
    border-bottom: 2px solid #696969;
    background-color: rgba(209, 209, 209, 0.22);
    color:lightgreen;


}
nav li a:hover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #d8d8d8 10px;
    content: "";
    height: 0;
    top:0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

#section1
{
    background-color: #f0f0f0;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
height: 550px;
}
#section2
{
    background-color: #f0f0f0;
    border-bottom:2px solid #cccccc;
	height: 600px;
	text-align: center;
	padding: 30px;
}
#section3
{
	background-color: #f0f0f0;
    border-bottom:2px solid #cccccc;
	height: 550px;
	padding:0px;
	
}
#sabina{
padding-top:100px;
}
#opisy{
padding-left:10px;
}
#zespol_icon_2{
padding-top:70px;
}
#zespol_icon_3{
padding-left:5px;
padding-top:100px;
}

.arrow-prev{
    background: url(../resources/images/button_oferta_back.png) no-repeat;
    width: 22px;
    height: 22px;
    border: 0;
    margin: 5px 3px;
}
.arrow-next{
    background: url(../resources/images/button_oferta_front.png) no-repeat;
    width: 22px;
    height: 22px;
    border: 0;
    margin: 5px 3px;
}

.offerTextBox{
    background-color: white;
    width: 274px;
    height: 170px;
    text-align:left;
    padding:1em;
    border-bottom:2px solid #cccccc;
}

.offerText{
    size: 14;
    white-space: pre-line;
}
