section{
    padding-top: 10vh;
    height: 100vh;
}
h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    /*Odrazu wrzuciłem czcionke na całe h1 mozliwe grubosci 400, 700 i 900 by: Tomek*/
}

#section1{
    background-image: url(../resources/main_background_middle.png);
}

#section1:after{
    background-image: url(../resources/main_button_scroll.png);
}

#lion{
    height: 75vh;
}

/*O mnie - by Tomek CSS*/
#section3{
    background-image:url(../resources/omnie_background.png);
    height: 115vh;
    padding-top: 5vh;
    text-align: center;
}
.white_font{
    color: #fff;
}
.omnie_padding{
    padding-top: 2em;
}
.p_margin{
    margin-bottom: 1px;
}
#signature{
    font-size: 20px;
    padding-top: 15px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;

    color: #D8D8D8;
}
#section3 p{
    color:#fff;
}
.open_sans{
   font-family: 'Open Sans', sans-serif; 
}




/*END Tomek CSS*/

/*Kuba CSS*/

#section4{
	background-image:url(../resources/praca_background_timeline.png);
	height: 100vh;
    padding-top: 5vh;
    text-align: center;
	background-position:center;
	
}
#section5{
	background-image:url(../resources/referencje_background.png);
	height: 100vh;
    padding-top: 5vh;
    text-align: center;
}

/*END Kuba CSS*/

/*Jaskoks CSS*/
#section7
{
    background-image:url(../resources/backgroundKontakt.png);
    height:100vh;
    padding-top: 5vh;
    background-color: grey;
    text-align: center;
}
#button
{
    border-radius: 0px;
    width:100%;
    background-color: black;
    text-align: center;
    color:#ffffff;
    height:5vh
}
.number
{
    font-size:40px;
}
#tmail
{

    font-size: 40px;
    font-family: "Comic Sans", Comic Sans MS, cursive;
    font-weight: bold;

}
.border
{
  border: 5px solid black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.padding
{
    padding-top:10px;
}
.padding2
{
    padding-top:15vh;
}
.formcontroling
{
    border-radius: 0px;
    background: transparent;
}
#footer
{
    font-weight: bold;
}

/*Jaskoks CSS END*/

