@font-face {
    font-family: ChunkFive;
    src: url('../fonts/chunk-master/Chunk.otf');
}

@font-face {
    font-family: MyriadPro;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro/MYRIADPRO-REGULAR.woff');
}

body {
    background-image: url("../resources/images/Home/background.png");
    background-size: 1920px 1960px;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: MyriadPro;
}

section {
    height: auto;
}

.navstyle {
    height: 70px;
}

#navbar {
    width: 100%;
    height: 25px;
    margin-top: 15px;
}

#logo_top_menu {
    margin-left: 260px;
    margin-top: 5px;
}

#navbar-content {
    float: right;
    padding-right: 20vw;
}

.nav > li > a {
    color: white;
    top: 16px;
    position: relative;
    display: initial;
    padding: 6px 16px;
}

.nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.70);
    color: black;
    border-radius: 7px;
}

.nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.70);
    color: black;
    border-radius: 7px;
}

.row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.col-full-height {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.brookers-list {
    list-style-image: url("../resources/images/Home/small_button_home.png");
    line-height: 30px;
    font-size: 15px;
    color: #828181;
}

.why-us-title {
    text-align: center;
    margin-bottom: 0px;
}

#contact {
    position: absolute;
    top: 1640px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#contact-form {
    padding-left: 2px;
}

#newsletter-form input,
#contact-form input {
    padding: 2px;
    padding-left: 6px;
    border-radius: 6px;
    border: 0px;
    margin-bottom: 15px;
    width: 200px;
    color: #ABABB1;
    background-color: #242438;
}

#contact-form textarea {
    padding: 2px;
    padding-left: 7px;
    border-radius: 6px;
    border: 0px;
    margin-bottom: 15px;
    width: 270px;
    height: 100px;
    color: #ABABB1;
    background-color: #242438;
}

#newsletter-form #newsletter-submit,
#contact-form-submit #contact-submit {
    padding: 2px;
    border-radius: 6px;
    border: 0px;
    margin-bottom: 0px;
    width: 80px;
    background-color: #E7E8EA;
}

#contact-box {
    background-image: url("../resources/images/Produkty/produkty_box_top.png");
    width: 998px;
    margin: 0 auto;
    height: 101px;

}

.padding-form {
    padding-top: 25px;
}

.contact-input {
    width: 19vw;
    height: 40px;
    border-radius: 6px;
    font-size: 21px;
    padding-left: 10px;
}

#submit-button {
    float: right;
    margin-right: 40px;
    width: 125px;
    height: 40px;
    border-radius: 6px;
    background-color: #265a88;
    font-size: 21px;
    color: white;

}

#contact-image {
    margin-top: 75px;
    margin-left: 10px;
    background-image: url("../resources/images/Kontakt/kontakt_map.png");
    background-repeat: no-repeat;
    height: 495px;
}

.rules {
    color: #828181;
    font-size: 15px;
    line-height: 28px;
}

.arrow-prev {
    background: url('../resources/images/Home/arrow_left_home.png') no-repeat;
}

.arrow-next {
    background: url('../resources/images/Home/arrow_right_home.png') no-repeat;
}

.gallery-slider {
    padding-top: 30px;
    position: relative;
}

.div-slide {
    position: relative;
    text-align: center;

}

#slider {
    width: 40vw;
    height: 80px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    margin: 0 auto;
    line-height: 17px;
    margin-bottom: 40px;
}

.product-widget {
    width: 330px;
    height: 460px;
    text-align: center;
    font-size: 27px;
    color: #505050;
    margin: auto;
}

.price-widget {
    background-image: url('../resources/images/Produkty/produkty_box_price.png');
    background-position: center top;
    background-repeat: no-repeat;
    margin: auto;
    width: 155px;
    height: 95px;
    font-size: 37px;
    color: #ffffff;
    display: table;
}

.price {
    display: table-cell;
    vertical-align: middle;
}

.arrow-prev {
    background: url(../resources/images/Home/arrow_left_top_menu.png) no-repeat;
    width: 40px;
    height: 41px;
    border: 0;
    margin: 5px 3px;
}

.arrow-next {
    background: url(../resources/images/Home/arrow_right_top_menu.png) no-repeat;
    width: 40px;
    height: 41px;
    border: 0;
    margin: 5px 3px;
}

.category-class {
    width: 99px;
    height: 39px;
    display: inline-block;
}

#category-tab-samsung {
    background: url("../resources/images/Produkty/produkty_hover_mark_1.png");
}

#category-tab-sony {
    background: url("../resources/images/Produkty/produkty_hover_mark_2.png");
}

#category-tab-htc {
    background: url("../resources/images/Produkty/produkty_hover_mark_3.png");
}

#category-tab-apple {
    background: url("../resources/images/Produkty/produkty_hover_mark_4.png");

}

#category-select {
    margin: 0 auto;
    width: 940px;
}

.clickable {
    cursor: pointer;
}
#product-cont{
    margin-left: 20px;
    margin-top: 30px;
    width: 250px;
    height: 155px;
    display: inline-block;
    float: left;

}
#price-label{
    background: url("../resources/images/Produkty/produkty_box_price_small.png");
    width: 96px;
    height: 62px;
    margin-left: 85px;
    margin-top: 45px;
    text-align: center;

}