<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kreator Stylu</title>

    <!--JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!--Angular js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

    <!--App js-->
    <script src="js/app.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>

    <link href="css/style.css" rel="stylesheet">

    <!-- Exo black font -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:700,400,900' rel='stylesheet' type='text/css'>
    <!-- Open sans font-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <!-- PT sans font-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body ng-app="kreatorStylu">
<header>
</header>

<div class="greenbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px;">
                <div class="glyphicon glyphicon-phone paddinggreenbar"> 796-836-306</div>
                <div class="glyphicon glyphicon-envelope paddinggreenbar"> kontakt@kreatorstylu.pl</div>
                <div class="glyphicon glyphicon-time paddinggreenbar">
                    <span class="avoidwrap"> Poniedziałek-Piątek 9.00-20.00 </span>
                    <span class="avoidwrap"> Sobota 8.00-15.00</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="bannerbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <img id="logo" src="resources/images/up_logo.png"/></div>
        </div>
    </div>
</div>

<nav class="navstyle">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="collapsingNavbarButton">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsingNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#section1">Home <img src="resources/images/up_menu_arrow.png"/></a></li>
                    <li><a href="#section2">Oferta <img src="resources/images/up_menu_arrow.png"/></a></li>
                    <li><a href="#section3">Zespół <img src="resources/images/up_menu_arrow.png"/></a></li>
                    <li><a href="#section4">Galeria <img src="resources/images/up_menu_arrow.png"/></a></li>
                    <li><a href="#section5">Współpraca <img src="resources/images/up_menu_arrow.png"/></a></li>
                    <li><a href="#section-contact">Kontakt <img src="resources/images/up_menu_arrow.png"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="auto-slider">
        <div style="width:100%"><img src="resources/images/up_slider.png" style="width:100%;"/></div>
        <div style="width:100%"><img src="resources/images/up_slider_2.png" style="width:100%;"/></div>
        <div style="width:100%"><img src="resources/images/up_slider_3.png" style="width:100%;"/></div>
        <div style="width:100%"><img src="resources/images/up_slider_4.png" style="width:100%;"/></div>
    </div>
</div>

<section id="section1">
    <div id="section1-top-border">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <h2 style="font-family:'PT sans'; font-size:24px;">
                    Najwyższa jakość usług fryzjerskich a także najnowesze i skuteczne zabiegi upiększające na włosy
                    <br/>
                    Stylizacja w makijażu ślubnym lub okazjonalnym
                    <br/>
                </h2>

                <hr style="border-top: 1px dashed #d9d9d9"/>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0" style="float:left; max-width:100%">
                <div class="auto-slider">
                    <div style="width:100%"><img src="resources/images/icon_home.png" style="width:100%;"/></div>
                    <div style="width:100%"><img src="resources/images/icon_home_2.png" style="width:100%;"/></div>
                    <div style="width:100%"><img src="resources/images/icon_home_3.png" style="width:100%;"/></div>
                    <div style="width:100%"><img src="resources/images/icon_home_4.png" style="width:100%;"/></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8" style="font-family:'Museo Sans';">
                <p style="font-size:24px">KREATOR STYLU</p>

                <div id="kreator-stylu-description">
                    <p>powstał z myślą o pełnej i profesjonalnej obsłudze coraz bardziej wymagających klientów, dla
                        których ważna jest wysoka jakość usług, doświadczony personel, najwyższej jakościu produkty,
                        komfort i przystępna cena.<br/>
                    </p>

                    <p>Pracownicy naszego salonu to wpełni profesjonalny personel, z największą starannością dbający o
                        zaspokojenie potrzeb Klientów. Odpowiedznie szkolenia, dążenie do doskonalenia
                        swoich umiejętności i śledzenie nowych trendów, gwarantują nam satysfakcję i uznanie.<br/>
                    </p>

                    <p style="border-bottom:3px solid #D9D9D9;"></p>

                    <p>Usługa fryzjerska, to nie tylko to co dzieje się na głowie w salonie, za piękne włosy odpowiada
                        również pielęgnacja jakiej poddawane są one w domu, przy codziennym myciu.
                        Ładna fryzura to dobre ścięcie, ale i umiejętność łatwego ich ułożenia w domu. Nagrodą za te
                        wszystkie starania dla Was i dla nas są zdrowe lśniące włosy, których wygląd poprawia nasze
                        samopoczucie, ale i sprawia że zawsze jesteście dumni ze swojej fryzury. Produkty profesjonalne
                        charakteryzują
                        się większą wydajnością i skutecznością niż produkty popularne, kupowane w sklepach, ale też
                        bardziej niż one dopasowywane są do indywidualnych potrzeb Państwa włosów, czy skóry głowy.
                        Wszystkie produkty króych używamy są hypoalergiczne i zawierają substancję pielęgnującą
                        strókturę
                        włosów.
                    </p>
                    </br>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section2" ng-controller="OfferPanelCtrl as offerPanel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-family: 'PT sans'; font-size:30px;">OFERTA</p>
                <hr style="border-top: 1px dashed #d9d9d9"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p style="font-family: 'Museo Sans'; font-size: 18px; color: #9c9c9c">
                    Zapraszamy do zapoznania się z naszą ofertą i skorzystania z
                    <span style="color: #73b85d"> szerokiego wachlarza naszych usług</span>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="arrows" style="text-align: right; padding-right:15px"></div>
                <div class="multiple-items">
                    <div ng-repeat="offer in offerPanel.offers">
                        <div class="offerWidget">
                            <img ng-src="{{offer.image}}" style="max-width:100%;"/>

                            <div class="offerTextBox">
                                <p style="font-family: 'Museo Sans'; font-size: 15px; font-weight: 500;">
                                    {{offer.title}}
                                </p>
                                <img src="resources/images/oferta_line.png"/>
                                <br/>

                                <p class="offerText">{{offer.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>

<section id="section3" ng-controller="IndividualPopupCtrl" ng-style="zIndexStyle">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center; font-family: 'PT sans'; font-size:30px;">ZESPÓŁ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="float:left">
                <p>
                    <img src="resources/images/zespol_line.png"/>
                    </br></br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-12 col-md-3">
                    <div style="width:100px; margin:0 auto;"><img src="resources/images/zespol_icon_1.png"
                                                                  ng-click="showImage(1)" class="clickable"/></div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <p class="description-name"><b>Paweł Żelazo</b></p>

                    <p class="description">Początkowo fryzjerstwo było moim zawodem, obecnie jest moją pasją
                        i stylem bycia.
                        Poprzez to co robię, chce dawać radość innym. Każda nowa stylizacja, każdy nowy
                        kolor, które wywołują na twarzy klientki uśmiech, dają mi poczucie zadowolenia
                        i spełnienia. W swojej pracy jestem szalonym i kreatywnym perfekcjonistą.</br></br>
                        <img src="resources/images/oferta_line.png"/></br>
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div style="width:100px; margin:0 auto;"><img src="resources/images/zespol_icon_2.png"
                                                                  ng-click="showImage(2)" class="clickable"/></div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <p class="description-name"><b>Patryk Majder</b></p>

                    <p class="description">Moją życiową pasją jest fryzjerstwo. Czynności takie jak
                        stylizacja sprawiają mi radość w życiu zawodowym. Każda możliwość wykorzystania metod
                        i technik nowoczesnego i modnego fryzjerstwa - zarówno upięć jak i strzyżenia, daje mi
                        wielką satysfakcję.Utwierdza mnie to w przekonaniu, że wybrałem właściwy zawód,
                        który powoli staje się częścią mojego 'ja'.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-12" id="sabina-margin-top">
                    <p></br>
                        <img src="resources/images/oferta_line.png"/>
                        </br></p>

                </div>
                <div class="col-xs-12 col-md-3">
                    <div style="width:100px; margin:0 auto;"><img src="resources/images/zespol_icon_3.png"
                                                                  ng-click="showImage(3)" class="clickable"/></div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <p class="description-name"><b>Sabina Bryła</b></p>

                    <p class="description">Fryzjerstwo jest dla mnie spełnieniem marzeń, gdyż od dziecka chciałam
                        pracować w tym zawodzie. Spośród wszystkich usług najbardziej lubię koloryzację, ponieważ
                        cieszy mnie zmiana wizerunku klienta. Podczas wykonywania pasemek, refleksów oraz masażu
                        skóry głowy wyciszam się. Do każdego klienta podchodzę indywidualnie oraz staram się
                        przekazać mu swoją wiedzę na temat codziennej pielengnacji i stylizacji włosów. Cieszy mnnie
                        każdy zadowolony klient, a najbardziej ten, który wraca.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="pop-up-gallery" ng-show="imageShown" ng-click="closeGallery()">
        <div class="center-image-container">
            <div class="center-image">
                <img class="clickable" style="max-width:100%;"ng-src="{{imageSource}}"/>
            </div>
        </div>
    </div>
</section>

<section id="section4" ng-controller="GalleryCtrl as gallery" ng-style="zIndexStyle">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-family: 'PT sans'; font-size:30px;">GALERIA</p>
                <img src="resources/images/galeria_line.png" style="max-width:100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p style="font-family:'Museo Sans'; font-size: 18px; color: #9A9A9A">
                    Podgląd naszych dotychczasowych realizacji.</br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="gallery-arrows" style="text-align: right"></div>
                <div class="gallery-slider">
                    <div ng-repeat="photo in gallery.photos track by $index">
                        <div style="position: relative" class="photo">
                            <div style="margin:0 auto;">
                                <div class="image">
                                    <img class="clickable" style="max-width:100%;" data-id="{{$index}}"
                                         ng-src="{{photo.image}}" src=""/>

                                    <div class="gallery-green-container">
                                        <div class="gallery-green">

                                            <img class="gallery-icon" src="resources/images/galeria_icon.png"/>

                                            <p class="gallery-date">{{photo.date}};</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pop-up-gallery" ng-show="imageShown" ng-click="closeGallery()">
        <div class="center-image-container">
            <div class="center-image">
                <img class="clickable" ng-src="{{imageSource}}"/>
            </div>
        </div>
    </div>
</section>

<section id="section5" ng-controller="PartnershipCtrl as partnership">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-family: 'PT sans'; font-size:30px;">WSPÓŁPRACA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="collaboration-logos-slider">
                    <div ng-repeat="logo in partnership.partnershipLogos">
                        <div class="offerWidget"><img ng-src="{{logo}}"/></div>
                    </div>
                </div>
                <div class="collaboration-lines-slider" dir="rtl">
                    <div ng-repeat="line in partnership.linesArray() track by $index">
                        <div class="offerWidget"><img src="resources/images/wspolpraca_linia.png"/></div>
                    </div>
                </div>
                <br>

                <div id="collaboration-arrows"></div>
            </div>
        </div>
    </div>
    <br/>
</section>

<section id="section-contact" ng-controller="IndividualPopupCtrl" ng-style="zIndexStyle">
    <div id="green_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-1" style="margin-top: 13px;">
                    <a href="https://www.facebook.com/Salon.Fryzjerstwa.Kreator.Stylu">
                        <div style="margin-left:-5px">
                            <img src="resources/images/kontakt_facebook_icon.png"
                                 style="display: block; margin:0 auto;">
                        </div>
                    </a>
                </div>

                <div class="col-xs-10"
                     style="margin-top:23px; padding-right:0; color: #f0f0f0; line-height:17px">
                    <a href="https://www.facebook.com/Salon.Fryzjerstwa.Kreator.Stylu" class="fb-link">
                    <span class="PT_SANS"
                          style=" padding-bottom:2px;">Znajdź nas na Facebooku<br>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-section">
        <div class="container">
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-md-3 xs-centered sm-centered">
                    <p><img src="resources/images/kreator_stylu_male_logo.png" style="max-width:100%; padding-top:10px;"/></p>
                    <br/>
                    <p>Znajdziecie tu Państwo wszystkie niezbędne informacje kontaktowe za pomocą których w niezwykle
                    łatwy sposob uda nam się nawiązać współpracę.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 xs-centered">
                    <h3 style="margin-bottom: auto; font-size:24px;" class="PT_SANS">Mapa dojazdu</h3>
                    <br/>

                    <div>
                        <img src="resources/images/kontakt_map.png" class="clickable" alt=""
                              ng-click="showImage(0)" ng-mouseenter="showImage(0)" style="max-width:100%"/>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 xs-centered">
                    <h3 class="PT_SANS" style="margin-bottom: auto;">Kontakt</h3>
                    <br/>

                    <p class="margin-bottom">Studio Kreator Stylu</p>

                    <p class="margin-bottom">al. Gen. Wł. Sikorskiego 2/3</p>

                    <p class="margin-bottom">35-304 Rzeszów</p>
                    <br/>

                    <p class="margin-bottom">Telefon: (+17) 85 00 118</p>

                    <p class="margin-bottom">Komórka: (+48) 796 836 306</p>
                    <br/>

                    <p>kontakt@kreatorstylu.pl</p>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 xs-centered">
                    <h3 class="PT_SANS" style="margin-bottom: auto;">Dołącz do Newslettera</h3>
                    <br/>

                    <div id="newsletter-form">
                        <form method="post">
                            <input id="email-input" type="text" name="email" placeholder="wprowadź swój mail">
                            <br/><br/>
                            <input id="newsletter-submit" name="submit" type="submit" value="Subskrybuj">
                            <br/><br/><br/>

                            <div id="newsletter-info" style="font-size:16px; text-align:center; display:none"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="pop-up-map center-image-container" ng-show="imageShown" ng-click="closeGallery()">
        <div class="center-image">
            <img class=" map clickable" ng-mouseleave="closeGallery()" ng-src="{{imageSource}}"/>
        </div>
    </div>
</section>

<footer>
    <img src="resources/images/footer.png" style="display:block; margin-right: auto; margin-left: auto;"
         class="img-responsive"/>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<!--Skrypt SMOOTH SCROLL-->
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
<!--Skrypt SLICK slider-->
<script type="text/javascript">

    $(document).ready(function () {
        $('.multiple-items').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 700,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: '<input type="submit" value="" class="arrow-prev"/> ',
            nextArrow: '<input type="submit" value="" class="arrow-next"/> ',
            appendArrows: $('#arrows'),
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.collaboration-logos-slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 700,
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.collaboration-lines-slider',
            prevArrow: '<input type="submit" value="" class="arrow-prev"/> ',
            nextArrow: '<input type="submit" value="" class="arrow-next"/> ',
            appendArrows: $('#collaboration-arrows'),
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.collaboration-lines-slider').slick({
            infinite: true,
            speed: 700,
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: false,
            rtl: true,
            asNavFor: '.collaboration-slider',
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.gallery-slider').slick({
            infinite: true,
            autoplay: false,
            autoplaySpeed: 4000,
            speed: 700,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<input type="submit" value="" class="arrow-prev"/> ',
            nextArrow: '<input type="submit" value="" class="arrow-next"/> ',
            appendArrows: $('#gallery-arrows'),
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 660,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.auto-slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 700,
            arrows: false,
            fade: true
        });
    });
</script>
<!--Gallery popup fix-->
<script>
    $(function() {
        var ctrlElement = document.getElementById('section4');
        var $scope = angular.element(ctrlElement).scope();
        $('.photo img[data-id]').on('click', function() {
            var dataID = $(this).data('id');
            $scope.$apply(function(){
                $scope.showImage(dataID + 1);
            });
        });
    });
</script>
<!--Skrypt NAVBAR ON TOP-->
<script>
    $(function () {
        var stickyNavigationOffsetTop = $('.navbar').offset().top;
        var stickyNavigation = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > stickyNavigationOffsetTop) {
                $('.navbar').css({'position': 'fixed', 'top': 0});
            } else {
                $('.navbar').css({'position': 'relative'});
            }
        };

        stickyNavigation();

        $(window).scroll(function () {
            stickyNavigation();
        });

    });
</script>
<!--Skrypt MAIL SUBMIT-->
<script>
    $('#newsletter-submit').click(function(){
        var emailAddress = document.getElementById("email-input").value;
        function emailValidation(){
            var reg = /^([A-Za-z0-9_\-\.]){1,}\@([A-Za-z0-9_\-\.]){1,}\.([A-Za-z]{2,4})$/;
            if (reg.test(emailAddress) == false){
                document.getElementById("newsletter-info").innerHTML = "Wprowadzony adres email jest nieprawidłlowy";
                document.getElementById("newsletter-info").style.display = "block";
                return false;
            }
            else
                return true;
        }
        function newsletterSubmitSuccess(){
            document.getElementById("email-input").disabled = true;
            document.getElementById("newsletter-submit").disabled = true;
            document.getElementById("newsletter-info").innerHTML = "Dziękujemy za zapisanie się na newsletter Kreator Stylu";
            document.getElementById("newsletter-info").style.display = "block";
        };

        if (emailValidation()){
            $.ajax({
                url: 'php/mail.php',
                type:'POST',
                data: { email: emailAddress},
                success: newsletterSubmitSuccess()
            });
        }
    });





</script>
<!--Skrypt navbar-collapse fix-->
<script>
    $(function(){
        $(document).on('click',function(){
            $('.navbar-collapse.in').collapse('hide');
        });
        $(".navbar-nav li a").click(function(event) {
            $(".navbar-collapse").collapse('hide');
        });
        $('#collapsingNavbarButton').click(function(){
            $('.navbar-collapse').collapse('toggle');
        });
    });
</script>
</body>
</html>